.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

@media screen and (min-width: 900px){
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}